
{% extends 'Admin/admin-base.html' %}
{% load static %}
{% block title %} Edit Role {% endblock %} 
{% block content %}

  <div class="content-wrapper">
  
    <section class="content container-fluid">
      <div class="alert alert-danger text-center" style="display: none;" role="alert">
      </div>
      
      <div class="manage_admin">
         <div class="add_min d-flex justify-content-between"> 
          
    <h3>Edit Role</h3>
    </div>
    <form action="{% url 'edit_role' group.id %}" method="post" id="register_form">
      {% csrf_token %}
    <div class="row">
    <div class="col-12 col-sm-6 col-md-6">
                  <div class="form-group">
                    <label>*Role</label>
                    <input type="text" value="{{group.name}}" class="form-control role"  name="role">
                  </div>
  
        <button type="submit" class="edit register  btn btn-success"><sapn><i class="fa fa-check" aria-hidden="true"></i></sapn> Save</button> 
        <button class="delete btn btn-orange"><span><i class="fa fa-ban" aria-hidden="true"></i></span> Cancel</button>
     </form>
      </div>
    </section>
    <!-- /.content -->
  </div>
 
     {% endblock %}
{% block extrascript %}
     <script>
  $('.delete').on('click', function() {
    window.history.back();
  });

   $('.register').click(function(){
      var error_list  =[];
    var submit = true;
    var name = $('.role').val();
   if (name == null || name == "") {
    nameError = "Please enter Role name";
    error_list.push(nameError);
    submit = false;
   }

  if (error_list.length > 0){
    $('.alert-danger').show();
    $('.alert-danger').html("");
    var i;
    for (i = 0; i<error_list.length; i++){
      $('.alert-danger').append('<p>'+ error_list[i]+'</p>')
      window.scrollTo(0,0);
    }

  }
 return submit;

  });
</script>
{% endblock %}
