{% extends 'Admin/admin-base.html' %}
{% load static %}
{% block title %} Home {% endblock %} 
{% block content %}


<div class="wrapper">
  <div class="content-wrapper">

    <section class="content container-fluid">
      <h1 class="text-center">Summary</h1>
    <!-- dashboard content -->
      <div class="tt_summary">
        <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Buyers<br>Total Y1</p>
        </div>
        <!-- summary 2 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Sellers<br>Total Y1</p>
        </div>
        <!-- summary 3 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Regular Sales<br>Total Y1</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Special Sales<br>Total Y1</p>
        </div>
        <!-- summary 5 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Self Portrait<br>Post Total Y1</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Pro Portrait<br>Post Total Y1</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Seller <br>Total Y1</p>
        </div>
         <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Donation<br>Total Y1</p>
        </div>
         <!-- summary 4 -->
        
         <!-- summary YTD Start-->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Buyers<br>Total YTD</p>
        </div>
        <!-- summary 2 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Sellers<br>Total YTD</p>
        </div>
        <!-- summary 3 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Regular Sales<br>Total YTD</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Special Sales<br>Total YTD</p>
        </div>
        <!-- summary 5 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Self Portrait<br>Post Total YTD</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Pro Portrait<br>Post Total YTD</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Seller <br>Post Total YTD</p>
        </div>
         <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Donation<br>Total YTD</p>
        </div>
         <!-- summary 4 -->
          <!-- summary YTD Start-->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Buyers<br>Total This Month</p>
        </div>
        <!-- summary 2 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Sellers<br>Total This Month</p>
        </div>
        <!-- summary 3 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Regular Sales<br>Total This Month</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Special Sales<br>Total This Month</p>
        </div>
        <!-- summary 5 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Self Portrait<br>Post Total This Month</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Pro Portrait<br>Post Total This Month</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Seller<br>Total This Month</p>
        </div>
         <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Donation<br>Total This Month</p>
        </div>
         <!-- summary 4 -->
       
         <!-- summary YTD Start-->
         


        <!-- summary list end -->
      </div>
    </section>
    <!-- /.content -->
  </div>
{% endblock %}