{% extends 'Front/main.html' %}
{% load static %}
{% block content %}
	<section>
		<div class="login_page">
			<h1>Reset Password</h1>
			<div class="border-bottom my-3"></div>
		</div>
		<div class="alert alert-danger  text-center" role="alert" style="display: none;"></div>

		<form action="{% url 'reset_password' code  %}" method="post" id="new_password_form">
		{% csrf_token %}
		<div class="login_page_area">
			<div class="container-fluid">
				<div class="about_us_contain">
					<div class="row">
						<div class="offset-lg-3 offset-md-2 offset-sm-12"></div>
						<div class="col-lg-6 col-md-8 col-sm-12">
							<div class="login_sign_page">
								<div class="login-area">
									<div class="login_details py-3">
										<label for="">Reset Password</label>
										<input type="password" class="form-control"  name="password" placeholder="Enter New Password"  minlength="8">
									</div>
									<div class="login_details py-3">
										<input type="password" class="form-control" name="conf_password" minlength="8"  placeholder="Retype Password" >
									</div>
									<div class="d-flex justify-content-center">
										<div class="login_achor_btn mt-3 mr-3" style="border: 0">
											<div class="login-brn">
												<!-- <a href="#">Submit</a> -->
												<button type="submit" class="btn btn-warning new_password">Submit</button>
											</div>
										</div>
										</form>
										<div class="login_achor_btn mt-3" style="border: 0">
											<div class="login-brn">
												<!-- <a href="#">Cancel</a> -->
												<button type="button" class="btn btn-warning delete">Cancel</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="offset-lg-3 offset-md-2 offset-sm-12"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<div class="scroll_page">
		<a href="javascript:" id="return-to-top"><i class="fas fa-angle-double-up"></i></i></a>
	</div>
{% endblock %}


{% block extrascript %}
<script src="{% static 'assets/js/login.js' %}"></script>

{% endblock %}