	{% load static %}
	<footer class="pt-5 py-4">
		<div class="nav_area">
			<div class="text-center footer_inner">
				<div class="d-flex justify-content-center">
					<div class="fb_icon mr-2">
						<a href="#">
							<i class="fab fa-facebook-f"></i>
						</a>
					</div>
					<div class="tw_icon mr-2">
						<a href="#">
							<i class="fab fa-twitter"></i>
						</a>
					</div>
					<div class="gplus_icon mr-2">
						<a href="#">
							<i class="fab fa-google-plus-g"></i>	
						</a>
					</div>
					<div class="instant_icon mr-2">
						<a href="#">
							<i class="fab fa-instagram"></i>	
						</a>
					</div>
					<div class="inbox_icon">
						<a href="#">
							<i class="far fa-envelope"></i>
						</a>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							<div class="footer_list_links mt-4 mb-2">
								<ul class="d-flex justify-content-start">
									
									<li class="mr-3 {{active_faq}}">
										<a href="{% url 'faq_web' %}">FAQ</a>
									</li>
									<li class="mr-3 {{active_contact}}">
										<a href="{% url 'contact_us' %}">CONTACT</a>
									</li>
									<!-- <li class="mr-3">
										<a href="#">TERMS</a>
									</li>
									<li class="mr-3">
										<a href="#">PRIVACY</a>
									</li> -->
									{% for page in dynamic_pages %}
									{% if page.postion == 'b' %}
									<li class="mr-3">
										<a href=" {% url 'page' page.url  %}">{{page.title}}</a>
									</li>
									{% endif %}
									{% endfor %}
								</ul>
							</div>
						</div>
						<div class="col-md-6">
							<div class="footer_list_links mt-4 mb-2">
								<ul class="d-flex justify-content-end">
									<li class="mr-3">
										<a href="#">© Copyright 2019</a>
									</li>
									<li class="mr-3">
										<a href="#">{{public_site_name}}</a>
									</li>
									<li class="mr-3">
										<a href="#">All Rights Reserved</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>