 
{% extends 'Admin/admin-base.html' %}
{% load static %}
\{% block title %} Add Page {% endblock %} 
{% block content %}
<div class="wrapper">
   <div class="content-wrapper">
      <section class="content container-fluid">
         <h1 class="text-center">Add Page</h1>
         <!-- dashboard content -->
         <div class="manage_admin">
          <form action="{% url 'ticket-add-pages' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
               <label>Title</label>
               <input type="text" class="form-control" placeholder="Terms" name="page_title" id="page_title" required="">
            </div>
            <div class="">

               <textarea name="page_content" id="editor1_2" rows="10" cols="80" required></textarea>
            </div>

            <div class="form-group d-flex my-3 align-items-center">
               <label>background-image</label>
               <input type="file" name="background_image" id="" class="form-control ml-4">
              
            </div>

             <div class="form-group">
               <label>Position</label>
               <select name="position" class="form-control">
                 <option value="" disabled selected> Please select postion to show</option>
                 <option value="t">Top</option>
                 <option value="b">Bottom</option>
               </select>
            </div>
            
            <div class="form-group d-flex my-3 align-items-center">
               <label>url fundgraphers.com/</label>
               <input type="text" name="page_url" id="page_url" class="form-control ml-4" placeholder="Terms" required="" readonly>
            </div>
            <div class="my-3">
               <button class="admin_btn btn btn-primary">Preview</button>
               <button class="admin_btn btn btn-primary">Save</button>
            </div>
          </form>
         </div>
      </section>
      <!-- /.content -->
   </div>
   <!-- /.content-wrapper -->
</div>
{% endblock %}
{% block extrascript %}
  <script>
    $(document).ready(function() {
      CKEDITOR.replace( 'editor1_2', {
        
      });
     CKEDITOR.config.autoParagraph = false;
      });
  </script>
{% endblock %}