
{% extends 'Admin/admin-base.html' %}
{% load static %}
{% block title %} Manage Pages {% endblock %} 
{% block content %}
  <!-- Content Wrapper. Contains page content -->
<div class="wrapper">

   <div class="content-wrapper">
      <section class="content container-fluid">
         <h1 class="text-center">Manage Pages <span><a href="{% url 'ticket-add-pages' %}" class="btn btn-primary">Add Page</a></span></h1>
         <!-- dashboard content -->
         <div class="manage_admin">
            <div class="add_min d-flex justify-content-between">
               <h3>Manage Pages</h3>
               <ul class="mg_top_ic">
                  <li><i class="fa fa-refresh" aria-hidden="true"></i></li>
                  <li class='all-page-status' data-id="false"><i class="fa fa-lock" aria-hidden="true"></i></li>
                  <li class='all-page-status' data-id="true"><i class="fa fa-unlock" aria-hidden="true"></i></li>
               </ul>
            </div>
              <div class="posting_table">
               <table id="example" class="table table-bordered content-table">
                  <thead>
                     <tr>
                        <th><label class="payment_gateway_checkbox"><input onclick="selectAllBoxes(this);" type="checkbox">
                           <span class="checkmark"></span>
                           </label>
                        </th>
                        
                        <th>Page Title</th>
                        <th>Status</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody id="manage_page_tbody">
                     {% for page in pages %}
                     <tr>
                        <td><label class="payment_gateway_checkbox"><input type="checkbox" name="select_page" value="{{page.id}}">
                           <span class="checkmark"></span>
                           </label>
                        </td>
                        <td class="image_id">{{page.title}} </td>
                        <td class="list_icon text-center"><a href="javascript:void(0);" data-id="{{page.id}}" class="page-status"><i class="fa fa-{% if page.status == True %}unlock{% else %}lock{% endif %}" aria-hidden="true"></i></a></td>
                        <td class="list_icon d-flex">
                           <a href="/{{page.url}}" target="_blank">
                           <i class="fa fa-eye" aria-hidden="true"></i>
                           </a>
                           <a href="{% url 'edit_page' page.id %} ">
                           <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                           </a>
                           <a href="javascript:void(0);" class="delete-page" data-id="{{page.id}}">
                           <i class="fa fa-times" aria-hidden="true"></i>
                           </a>
                        </td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
      </section>
      <!-- /.content -->
   </div>
</div>
<!-- /.content-wrapper -->
<div class="control-sidebar-bg"></div>

<!-- REQUIRED JS SCRIPTS -->
{% endblock %}