{% extends 'Front/main.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}
	<section>
		<div class="ticket-banner">
			<!-- <img src="{% static 'assets/images/yearbook1.jpg' %}" class="img-fluid" alt="banner"> -->
		</div>
		<!--HOW ITS WORK section -->
		<div class="bg-diamond">
			<div class="container-fluid">
				<div class="nav_area hows_section py-5">
					<div class="hows_sect">
						<div class="row">
							<div class="col-md-4">
								<div class="hows_sec_img">
									<img src="{% static 'assets/images/pro.jpg' %}" class="img-fluid" alt="pro">
								</div>
							</div>
							<div class="col-md-8">
								<div class="heading">
									<h2>HOW IT WORKS</h2>
									<div class="border-bottom mt-2 faq-div"></div>
									<p class="py-4">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia aliquam eligendi rerum placeat vel quam facere, adipisci, deserunt rem aliquid eaque! Commodi eos dolor consequatur quia vel quasi error iure?
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--RECENTYEAR  section -->
		<div class="recent-blog-img recent_events">
			<div class="container-fluid">
				<div class="nav_area py-5">
					<div class="recent-blog-post">
						<div class="year_bg">
							<div class="text-center banner-heading pb-4">
								<h2 class="heading__">
									Processing Steps
								</h2>
								<div class="border-bottom my-3 border-line"></div>	
							</div>
							<!-- Set up your HTML -->
							<div class="owl-two owl-carousel carousel-main">
								<!-- <div class="row mb-5"> -->
									<!-- <div class="col-md-4"> -->
										<div class="recent_border">
											<div class="recent_bg">
												<div>
													<img src="{% static 'assets/images/steps-1.jpg' %}" alt="steps-1">
												</div>
												<div class="recent_detail d-flex py-3 px-3">
													<div class="recent_date">
														1/5
														<!-- <i class="fas fa-book-reader"></i> -->
													</div>
													<div class="recent_info">
														<p>
															Students upload selfie or School uploads student
															portraits taken by school hired photographer
														</p>
													</div>
												</div>
											</div>
										</div>
									<!-- </div> -->
									<!-- <div class="col-md-4"> -->
										<div class="recent_border">
											<div class="recent_bg">
												<div>
													<img src="{% static 'assets/images/step-2.jpg' %}" alt="step-2">
												</div>
												<div class="recent_detail d-flex py-3 px-3">
													<div class="recent_date">
														<!-- <i class="fas fa-book-reader"></i> -->
														2/5
													</div>
													<div class="recent_info">
														<p>
															Students upload selfie or School uploads student
															portraits taken by school hired photographer
														</p>
													</div>
												</div>
											</div>
										</div>
									<!-- </div> -->
									<!-- <div class="col-md-4"> -->
										<div class="recent_border">
											<div class="recent_bg">
												<div>
													<img src="{% static 'assets/images/step-3.jpg' %}" alt="step-3">
												</div>
												<div class="recent_detail d-flex py-3 px-3">
													<div class="recent_date">
														<!-- <i class="fas fa-book-reader"></i> -->
														3/5
													</div>
													<div class="recent_info">
														<p>
															Students upload selfie or School uploads student
															portraits taken by school hired photographer
														</p>
													</div>
												</div>
											</div>
										</div>
										<div class="recent_border">
											<div class="recent_bg">
												<div>
													<img src="{% static 'assets/images/step-4.jpg' %}" alt="step-4">
												</div>
												<div class="recent_detail d-flex py-3 px-3">
													<div class="recent_date">
														<!-- <i class="fas fa-book-reader"></i> -->
														4/5
													</div>
													<div class="recent_info">
														<p>
															Students upload selfie or School uploads student
															portraits taken by school hired photographer
														</p>
													</div>
												</div>
											</div>
										</div>
										<div class="recent_border">
											<div class="recent_bg">
												<div>
													<img src="{% static 'assets/images/step-5.jpg' %}" alt="step-5">
												</div>
												<div class="recent_detail d-flex py-3 px-3">
													<div class="recent_date">
														<!-- <i class="fas fa-book-reader"></i> -->
														5/5
													</div>
													<div class="recent_info">
														<p>
															Students upload selfie or School uploads student
															portraits taken by school hired photographer
														</p>
													</div>
												</div>
											</div>
										</div>
									<!-- </div> -->
								<!-- </div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--WHY US section -->
		<div class="bg-diamond">
			<div class="container-fluid">
				<div class="nav_area hows_section py-5">
					<div class="hows_sect home-why">
						<div class="row">
							<div class="col-md-8 why_us_join home-why-join">
								<div class="heading">
									<h2>WHY JOIN US ?</h2>
									<div class="border-bottom mt-2 faq-div"></div>
									<p class="py-4">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia aliquam eligendi rerum placeat vel quam facere, adipisci, deserunt rem aliquid eaque! Commodi eos dolor consequatur quia vel quasi error iure?
									</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="hows_sec_img">
									<img src="{% static 'assets/images/fund.jpg' %}" class="img-fluid" alt="fund">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--MULTIPLE SLIDES section -->
		<div class="mutliple-shows py-3">
			<div class="multiple_booster_sites pb-3">
				<h2 class="text-center pt-4">
					BOOSTER SITES
				</h2>
				<h5></h5>
				<div class="border-bottom my-3 border-line"></div>
				<div class="container-fluid">
					<div class="nav_area">
						<div class="recent-blog-post py-3">
							<div class="owl-one owl-carousel">
								<div class="recent_border">
									<div class="recent_bg">
										<div>
											<a href="#">
												<img src="{% static 'assets/images/luxury-letter.jpg' %}" class="img-fluid" alt="luxury-letter">
											</a>
										</div>
									</div>
								</div>
								<div class="recent_border">
									<div class="recent_bg">
										<div>
											<a href="#">
												<img src="{% static 'assets/images/box-logo.jpg' %}" class="img-fluid" alt="box-logo">
											</a>
										</div>
									</div>
								</div>
								<div class="recent_border">
									<div class="recent_bg">
										<div>
											<a href="#">
												<img src="{% static 'assets/images/colors-curl-logo.jpg' %}" class="img-fluid" alt="colors-curl-logo">
											</a>
										</div>
									</div>
								</div>
								<div class="recent_border">
									<div class="recent_bg">
										<div>
											<a href="#">
												<img src="{% static 'assets/images/background.jpg' %}" class="img-fluid" alt="background">
											</a>
										</div>
									</div>
								</div>
								<div class="recent_border">
									<div class="recent_bg">
										<div>
											<a href="#">
												<img src="{% static 'assets/images/retro.jpg' %}" class="img-fluid" alt="retro">
											</a>
										</div>
									</div>
								</div>
								<div class="recent_border">
									<div class="recent_bg">
										<div>
											<a href="#">
												<img src="{% static 'assets/images/football.jpg' %}" class="img-fluid" alt="football">
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--testimonial section -->
		<div class="testinomial_bg">
			<div class="container-fluid" style="">
				<div class="nav_area">
					<div class="recent-blog-post testmonial_slider">
						<div class="text-center banner-heading">
							<h2 class="heading__">
								Testimonial 
							</h2>
							<div class="border-bottom my-3"></div>	
						</div>
						<div class="owl-three owl-carousel">
							<div class="border mt-5">
									<div class="testi_img">
										<img src="{% static 'assets/images/user-pic.png' %}" class="img-fluid" alt="user-pic">
									</div>
									<div class="inner_content px-5 py-5">
										<h2 class="text-center user_heading">A few words from our Users.</h2>
										<div class="border-bottom my-3"></div>
										<p class="inner_testi_para">
											<i class="fas fa-quote-left"></i> Over the last 3 years our Yearbooks created online and supplied by Yearbooks have been outstanding. Colourful and beautifully made on top quality papers, with amazing high impact covers. The process is really easy and makes yearbook design fun and rewarding. <i class="fas fa-quote-right"></i>
										</p>	
										<div class="text-center mt-3 rating_stars">
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
										</div>
									</div>
							</div>
							<div class="border  mt-5">
									<div class="testi_img">
										<img src="{% static 'assets/images/user-pic.png' %}" class="img-fluid" alt="user-pic">
									</div>
									<div class="inner_content px-5 py-5">
										<h2 class="text-center user_heading">A few words from our Users.</h2>
										<div class="border-bottom my-3"></div>
										<p class="inner_testi_para">
											<i class="fas fa-quote-left"></i> When our students said they wanted an 80 page, full colour Yearbook, I didn’t think we’d be able to do it for less than $40/book. Thanks to  Yearbooks, we got our wonderful, full colour Yearbook and all for less than $30/book. The quality is excellent, as was the service. <i class="fas fa-quote-right"></i>
										</p>	
										<div class="text-center mt-3 rating_stars">
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
										</div>
									</div>
							</div>
							<div class="border  mt-5">
									<div class="testi_img">
										<img src="{% static 'assets/images/user-pic.png' %}" class="img-fluid" alt="user-pic">
									</div>
									<div class="inner_content px-5 py-5">
										<h2 class="text-center user_heading">A few words from our Users.</h2>
										<div class="border-bottom my-3"></div>
										<p class="inner_testi_para">
											<i class="fas fa-quote-left"></i> When our students said they wanted an 80 page, full colour Yearbook, I didn’t think we’d be able to do it for less than $40/book. Thanks to  Yearbooks, we got our wonderful, full colour Yearbook and all for less than $30/book. The quality is excellent, as was the service. <i class="fas fa-quote-right"></i>
										</p>	
										<div class="text-center mt-3 rating_stars">
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="scroll_page">
		<a href="javascript:" id="return-to-top"><i class="fas fa-angle-double-up"></i></i></a>
	</div>

{% endblock %}