
{% load static %}
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="pull-right-container">
                    <span class="label label-danger pull-right">70%</span>
                  </span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
        </ul>
       

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>


    <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{request.user.username}}</p>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <!-- search form (Optional) -->
      <!-- <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
        </div>
      </form> -->
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Wellcome, {{request.user.username}}<br>
        <span>Your last login was:{{request.user.last_login}}</span>
        </li>
        <!-- Optionally, you can add icons to the links -->
         <li class="">
          <a href="9000-SUMMARY.html"><i class="fa fa-link"></i> <span>Home</span>
            <!-- <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span> -->
          </a>
         <!--  <ul class="treeview-menu">
            <li><a href="#">Summary</a></li>
          </ul> -->
        </li>
         <li class="">
          <a href="{% url 'super_admin' %}"><i class="fa fa-link"></i> <span>Super Admin</span>
            <!-- <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span> -->
          </a>
         <!--  <ul class="treeview-menu">
            <li><a href="#">Summary</a></li>
          </ul> -->
        </li>
        
        
        <li class="">
          <a href="{% url 'staff_list' %}"><i class="fa fa-link"></i> <span>Staff</span>
          </a>
        </li>

        <li class="">
          <a href="{% url 'add_staff' %}"><i class="fa fa-link"></i> <span>Add Staff</span>
          </a>
        </li>
       
        {% if perms.auth.view_group %}
        <li class="">
          <a href="{% url 'role_list' %}"><i class="fa fa-link"></i> <span>Roles</span>
          </a>
        </li>
        {% endif %}
        {% if perms.auth.view_user %}
         <li class="">
          <a href="{% url 'webapp-users' %}"><i class="fa fa-link"></i> <span>Users</span>
            <!-- <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span> -->
          </a>
         <!--  <ul class="treeview-menu">
            <li><a href="#">Summary</a></li>
          </ul> -->
        </li>
        {% endif %}
         <li class="">
          <a href="{% url 'pages' %}"><i class="fa fa-link"></i> <span>Manage Content</span>
            <!-- <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span> -->
          </a>
         <!--  <ul class="treeview-menu">
            <li><a href="#">Summary</a></li>
          </ul> -->
        </li>
         
        <li class="">
          <a href="{% url 'faq_category' %}"><i class="fa fa-link"></i> <span>FAQ Category</span>
            <!-- <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span> -->
          </a>
         <!--  <ul class="treeview-menu">
            <li><a href="#">Summary</a></li>
          </ul> -->
        </li>
       
        <li class="">
          <a href="{% url 'faqs' %}"><i class="fa fa-link"></i> <span>FAQ</span>
            <!-- <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span> -->
          </a>
         <!--  <ul class="treeview-menu">
            <li><a href="#">Summary</a></li>
          </ul> -->
        </li>
       <li class="">
          <a href="9023-YBIDCARD-FAQ.html"><i class="fa fa-link"></i> <span>Price and Fee</span>
            <!-- <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span> -->
          </a>
         <!--  <ul class="treeview-menu">
            <li><a href="#">Summary</a></li>
          </ul> -->
        </li>
        <li class="">
          <a href="9024-YBIDCARD-ADD-FAQ.html"><i class="fa fa-link"></i> <span>Manage Posting</span>
            <!-- <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span> -->
          </a>
         <!--  <ul class="treeview-menu">
            <li><a href="#">Summary</a></li>
          </ul> -->
        </li>
        <li class="">
          <a href="9031-YBIDCARD-PRICE-AND-FEE.html"><i class="fa fa-link"></i> <span>Sals Data</span>
            <!-- <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span> -->
          </a>
         <!--  <ul class="treeview-menu">
            <li><a href="#">Summary</a></li>
          </ul> -->
        </li>
        <li class="">
          <a href="9032-YBIDCARD-MANAGE-POSTINGS.html"><i class="fa fa-link"></i> <span>Order History</span>
            <!-- <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span> -->
          </a>
         <!--  <ul class="treeview-menu">
            <li><a href="#">Summary</a></li>
          </ul> -->
        </li>
        <li class="">
          <a href="9033-YBIDCARD-SALES-DATA.html"><i class="fa fa-link"></i> <span>Product</span>
            <!-- <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span> -->
          </a>
         <!--  <ul class="treeview-menu">
            <li><a href="#">Summary</a></li>
          </ul> -->
        </li>
        <li class="">
          <a href="9034-YBIDCARD-ORDER-HISTORY.html"><i class="fa fa-link"></i> <span>Add Product</span>
            <!-- <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span> -->
          </a>
         <!--  <ul class="treeview-menu">
            <li><a href="#">Summary</a></li>
          </ul> -->
        </li>
        <li class="">
          <a href="9035-YBIDCARD-SALES-ORDER-ORGANIZER-VIEW.html"><i class="fa fa-link"></i> <span>Configuration</span>
            <!-- <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span> -->
          </a>
         <!--  <ul class="treeview-menu">
            <li><a href="#">Summary</a></li>
          </ul> -->
        </li>
        <li class="">
          <a href="9041-YBIDCARD-PRODUCT-LIST.html"><i class="fa fa-link"></i> <span>Product List</span>
            <!-- <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span> -->
          </a>
         <!--  <ul class="treeview-menu">
            <li><a href="#">Summary</a></li>
          </ul> -->
        </li>
        <li class="">
          <a href="9051-YBIDCARD-GENERAL-CONFIG.html"><i class="fa fa-link"></i> <span>Confirguration</span>
            <!-- <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span> -->
          </a>
         <!--  <ul class="treeview-menu">
            <li><a href="#">Summary</a></li>
          </ul> -->
        </li>
        <li class="">
          <a href="9061-YBIDCARD-COMPANY-PROFILE.html"><i class="fa fa-link"></i> <span>Company Profile</span>
            <!-- <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span> -->
          </a>
         <!--  <ul class="treeview-menu">
            <li><a href="#">Summary</a></li>
          </ul> -->
        </li>
        <li class="">
          <a href="{% url 'blog_category' %}"><i class="fa fa-link"></i> <span>Blog Category</span>
            <!-- <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span> -->
          </a>
         <!--  <ul class="treeview-menu">
            <li><a href="#">Summary</a></li>
          </ul> -->
        </li>
      
        <li class="">
          <a href="{% url 'blogs' %}"><i class="fa fa-link"></i> <span>Blog</span>
            <!-- <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span> -->
          </a>
         <!--  <ul class="treeview-menu">
            <li><a href="#">Summary</a></li>
          </ul> -->
        </li>

        <li class="">
          <a href="{% url 'contact_category' %}"><i class="fa fa-link"></i> <span>Contact  Category</span></a>
        </li>
         <li class="heading">
          <a href="{% url 'public_contact_list' %}"><i class="fa fa-link"></i> <span>Contact</span>
          </a>
        </li>
        <li class="">
          <a href="9081-YBIDCARD-PAYPAL.html"><i class="fa fa-link"></i> <span>Paypal</span>
            <!-- <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span> -->
          </a>
         <!--  <ul class="treeview-menu">
            <li><a href="#">Summary</a></li>
          </ul> -->
        </li>
       


      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>