 {% extends 'Admin/admin-base.html' %}
{% load static %}
{% block title %} Product List {% endblock %} 
{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="alert alert-danger  text-center" role="alert">
      </div>
<section class="content container-fluid">
      <!-- <h1 class="text-center mb-3">Sales Order</h1> -->
    	<!-- paypal content -->
      <div class="manage_admin">
        <div class="d-flex justify-content-between mb-3">
            <h4></h4>
            <button type="button" class="btn btn-success">Add</button>
        </div>
        <div class="table-responsive">
        	<table class="table product-list">
            <thead>

              <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">Product Name</th>
                <th scope="col">Edit Table</th>
                <th scope="col">Face Size</th>
                <th scope="col">Dimension (W/H)</th>
                <th scope="col">Editable</th>
                <th scope="col">Price 1</th>
                <th scope="col">Price 2</th>
                <th scope="col">Price 3</th>
                <th scope="col">Enable</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Yearbook Photo Resizing</td>
                <td><label class="payment_gateway_checkbox"><input type="checkbox">
                  <span class="checkmark"></span>
                </label></td>
                <td>1.25</td>
                <td>1.5 &nbsp;&nbsp;&nbsp; 2.0</td>
                <td><label class="payment_gateway_checkbox"><input type="checkbox">
                  <span class="checkmark"></span>
                </label></td>
                <td>
                  10
                </td>
                <td>
                </td>
                <td>
                </td>
                <td><label class="payment_gateway_checkbox"><input type="checkbox">
                  <span class="checkmark"></span>
                </label></td>
              </tr>
              <tr>
                <td>2</td>
                <td>ID CARD</td>
                <td><label class="payment_gateway_checkbox"><input type="checkbox">
                  <span class="checkmark"></span>
                </label></td>
                <td>1.00</td>
                <td>1.0 &nbsp;&nbsp;&nbsp; 1.3</td>
                <td><label class="payment_gateway_checkbox"><input type="checkbox">
                  <span class="checkmark"></span>
                </label></td>
                <td>
                  20
                </td>
                <td>
                </td>
                <td>
                </td>
                <td><label class="payment_gateway_checkbox"><input type="checkbox">
                  <span class="checkmark"></span>
                </label></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Yearbook</td>
                <td><label class="payment_gateway_checkbox"><input type="checkbox">
                  <span class="checkmark"></span>
                </label></td>
                <td>0</td>
                <td>0 &nbsp;&nbsp;&nbsp; 0</td>
                <td><label class="payment_gateway_checkbox"><input type="checkbox">
                  <span class="checkmark"></span>
                </label></td>
                <td>
                  15
                </td>
                <td>
                </td>
                <td>
                </td>
                <td><label class="payment_gateway_checkbox"><input type="checkbox">
                  <span class="checkmark"></span>
                </label></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Portraiture Download</td>
                <td><label class="payment_gateway_checkbox"><input type="checkbox">
                  <span class="checkmark"></span>
                </label></td>
                <td>0</td>
                <td>1600 &nbsp;&nbsp;&nbsp; 2400</td>
                <td><label class="payment_gateway_checkbox"><input type="checkbox">
                  <span class="checkmark"></span>
                </label></td>
                <td>
                  
                </td>
                <td>
                </td>
                <td>
                </td>
                <td><label class="payment_gateway_checkbox"><input type="checkbox">
                  <span class="checkmark"></span>
                </label></td>
              </tr>
            </tbody>
          </table>  
        </div>
      </div>
    </section>
</div>
    {% endblock %}

