{% extends 'Front/main.html' %}
{% load static %}
{% block content %}

	<section style="background-color: #f7f7f7">
		<div class="" style="padding: 20px 0;">
			<!-- <h1>Self Portrait Posting</h1>
			<div class="border-bottom my-3"></div> -->
		</div>
		<div class="container-fluid">
			<div class="about_us_contain event_tickets_details" style="padding: 0;">
				<div class="row">
					<div class="offset-sm-12 offset-md-1 offset-lg-1"></div>
					<div class="col-sm-12 col-md-10 col-lg-10">
						<div class="d-flex bg_grey mt-3">
							<div class="event_img">
								<img src="{% static 'assets/images/dummy-logo.png' %}" class="img-fluid" alt="dummy-logo">
							</div>
							<div class="row w-100 py-3 pl-3">
								<div class="col-md-6 col-sm-6">
									<div class="events_details">
										<ul>
											<li>
												<i class="fas fa-user-alt mr-2"></i>
												<a href="#">John Snow</a>
											</li>
											<li>
												<i class="fas fa-users mr-2"></i>
												<a href="#">ABC Company</a>
											</li>
											<li>
												<i class="far fa-map mr-2"></i>
												<a href="#">123, Street B4, cardslight, NA.</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="events_details">
										<ul>
											<li>
												<i class="fas fa-phone mr-2"></i>
												<a href="#">+1 9012346754</a>
											</li>
											<li>
												<i class="fas fa-id-card-alt mr-2"></i>
												<a href="#">Contact</a>
											</li>
											<li>
												<i class="fas fa-file mr-2"></i>
												<a href="#">Business Licenece</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="w-100 px-3 py-2">
									<p>
										About: <span>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam doloremque adipisci quasi dolorem similique pariatur nostrum ipsam, iste corporis porro a possimus consectetur vero inventore ad recusandae esse, doloribus delectus.
										</span>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="offset-sm-12 offset-md-1 offset-lg-1"></div>
				</div>
				<div class="row my-5 pb-4">
					<div class="col-md-4 col-sm-12">
						<div class="event_border mb-3">
							<div class="next_events_bg">
								<div class="d-flex">
									<div class="events_next_detail">
										<img src="{% static 'assets/images/old-books.jpg' %}" class="img-fluid" alt="old-books">
									</div>
									<h5 class="event_h5 ml-2">
										2019-09-09 DEMO
									</h5>
								</div>
							</div>
							<div class="events_list_st">
								<ul>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">Early Bird(EB) $ Expires: 2019-08-15</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">Regular (REG) $ Expires: 2019-08-15 </a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">Yearbook Photo: EB-$1 REG-$2</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">Yearbook: EB-$3 REG-$4</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">ID Card: EB-$5 REG-$6</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">ASB- Associate Student Body- $10</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">LAB- Chemistry Lab - $15</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">MUS- Musical Notes - $20</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit expedita voluptatem corporis, eaque voluptatum voluptas ipsum ea, id illo minima? Nostrum mollitia impedit fugiat nobis dolor dolorum deleniti sapiente natus?
									</li>
								</ul>
								<div class="mt-3 mb-2">
									<label class="payment_gateway_checkbox"> I agree to comply with the following basic photo criteria to aviod rejection. I will comply with other criteria set by the Organizer.
										<input type="checkbox">
										<span class="checkmark"></span>
									</label>
								</div>
								<div class="self_terms">
									<h4>Photography Guidelines</h4>
									<ul>
										<li>
											<b>- Face must be clear, sharp and natural.</b>
										</li>
										<li>
											<b>- Upload image must be waist up in portrait orientation</b>
										</li>
										<li>
											<b>- No hands, hat, bandana or hoodie in photo</b>
										</li>
										<li>
											<b>- No letters on shirt and no tatoos</b>
										</li>
										<li>
											<b>- Optimum and minimum images size is 2000 x 3000 px</b>
										</li>
										<li>
											<b>- Image format - jpeg</b>
										</li>
									</ul>
								</div>
								<div class="text-center event_enter pb-2 pt-4">
									<!-- <a href="#">Upload Now</a> -->
									<button type="button" class="btn btn-warning">Upload Now</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section style="background-color: #f7f7f7">
		<div class="about_us" style="background-image: inherit; padding: 20px 0;">
			<!-- <h1>Pro Portrait Posting</h1>
			<div class="border-bottom my-3"></div> -->
		</div>
		<div class="container-fluid">
			<div class="about_us_contain event_tickets_details" style="padding: 0;">
				<div class="row">
					<div class="offset-sm-12 offset-md-1 offset-lg-1"></div>
					<div class="col-sm-12 col-md-10 col-lg-10">
						<div class="d-flex bg_grey mt-3">
							<div class="event_img">
								<img src="{% static 'assets/images/old-books.jpg' %}" class="img-fluid" alt="old-books	">
							</div>
							<div class="row w-100 py-3 pl-3">
								<div class="col-md-6 col-sm-6">
									<div class="events_details">
										<ul>
											<li>
												<i class="fas fa-user-alt mr-2"></i>
												<a href="#">John Snow</a>
											</li>
											<li>
												<i class="fas fa-users mr-2"></i>
												<a href="#">ABC Company</a>
											</li>
											<li>
												<i class="far fa-map mr-2"></i>
												<a href="#">123, Street B4, cardslight, NA.</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="events_details">
										<ul>
											<li>
												<i class="fas fa-phone mr-2"></i>
												<a href="#">+1 9012346754</a>
											</li>
											<li>
												<i class="fas fa-id-card-alt mr-2"></i>
												<a href="#">Contact</a>
											</li>
											<li>
												<i class="fas fa-file mr-2"></i>
												<a href="#">Business Licenece</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="w-100 px-3 py-2">
									<p>
										About: <span>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam doloremque adipisci quasi dolorem similique pariatur nostrum ipsam, iste corporis porro a possimus consectetur vero inventore ad recusandae esse, doloribus delectus.
										</span>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="offset-sm-12 offset-md-1 offset-lg-1"></div>
				</div>
				<div class="row my-5 pb-4">
					<div class="col-md-4 col-sm-12">
						<div class="event_border mb-3">
							<div class="next_events_bg">
								<div class="d-flex">
									<div class="events_next_detail">
										<img src="{% static 'assets/images/old-books.jpg' %}" class="img-fluid" alt="old-books">
									</div>
									<h5 class="event_h5 ml-2">
										2019-09-09 DEMO
									</h5>
								</div>
							</div>
							<div class="events_list_st">
								<ul>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">Early Bird(EB) $ Expires: 2019-08-15</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">Regular (REG) $ Expires: 2019-08-15 </a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">Yearbook Photo: EB-$1 REG-$2</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">ID Card: EB-$1 REG-$2</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">ASB: Associate Student Body- $10</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">LAB: Chemistry Lab - $15</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">MUS: Musical Notes - $20</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit expedita voluptatem corporis, eaque voluptatum voluptas ipsum ea, id illo minima? Nostrum mollitia impedit fugiat nobis dolor dolorum deleniti sapiente natus?
									</li>
								</ul>
								<div class="text-center event_enter pb-2 pt-4">
									<button type="button" class="btn btn-warning">View Now</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="event_border mb-3">
							<div class="next_events_bg">
								<div class="d-flex">
									<div class="events_next_detail">
										<img src="{% static 'assets/images/recent_banner.png' %}" class="img-fluid" alt="recent_banner">
									</div>
									<h5 class="event_h5 ml-2">
										2019-09-09 DEMO2
									</h5>
								</div>
							</div>
							<div class="events_list_st">
								<ul>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">Early Bird(EB) $ Expires: 2019-08-15</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">Regular (REG) $ Expires: 2019-08-15 </a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">Yearbook Photo: EB-$1 REG-$2</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">ID Card: EB-$1 REG-$2</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">ASB: Associate Student Body- $10</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">LAB: Chemistry Lab - $15</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">MUS: Musical Notes - $20</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit expedita voluptatem corporis, eaque voluptatum voluptas ipsum ea, id illo minima? Nostrum mollitia impedit fugiat nobis dolor dolorum deleniti sapiente natus?
									</li>
								</ul>
								<div class="text-center event_enter pb-2 pt-4">
									<button type="button" class="btn btn-warning">View Now</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="event_border mb-3">
							<div class="next_events_bg">
								<div class="d-flex">
									<div class="events_next_detail">
										<img src="{% static 'assets/images/yearbook.jpg' %}" class="img-fluid" alt="yearbook">
									</div>
									<h5 class="event_h5 ml-2">
										2019-09-09 DEMO4
									</h5>
								</div>
							</div>
							<div class="events_list_st">
								<ul>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">Early Bird(EB) $ Expires: 2019-08-15</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">Regular (REG) $ Expires: 2019-08-15 </a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">Yearbook Photo: EB-$1 REG-$2</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">ID Card: EB-$1 REG-$2</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">ASB: Associate Student Body- $10</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">LAB: Chemistry Lab - $15</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										<a href="#">MUS: Musical Notes - $20</a>
									</li>
									<li>
										<i class="fas fa-check"></i>
										Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit expedita voluptatem corporis, eaque voluptatum voluptas ipsum ea, id illo minima? Nostrum mollitia impedit fugiat nobis dolor dolorum deleniti sapiente natus?
									</li>
								</ul>
								<div class="text-center event_enter pb-2 pt-4">
									<button type="button" class="btn btn-warning">View Now</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="scroll_page">
		<a href="javascript:" id="return-to-top"><i class="fas fa-angle-double-up"></i></i></a>
	</div>
{% endblock %}