html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins";
}
@font-face {
  font-family: Poppins-Bold;
  src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
       /*url(/assets/fonts/Poppins-Bold.woff) format('woff');*/
}
@font-face {
    font-family: 'Avenir-Book';
    src: url('../../assets/fonts/Avenir-Book.woff2') format('woff2'),
        url('../../assets/fonts/Avenir-Book.woff') format('woff'),
        url('../../assets/fonts/Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a,button {
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          border-radius: 0 !important;
}
a:hover {
  text-decoration: none;
}
.btn-dark {
  background-color: #ea7904;
  border-color: #ea7904;
}
.btn
h1,h2,h3,h4,h5,h6,p,ul,li {
  margin: 0;
  padding: 0;
}
.navbar-toggler:not(:disabled):not(.disabled):focus {
    outline: 0;
}
.table thead th,
.table tbody td  {
  white-space: nowrap;
}
select {
  background: transparent url(../../assets/images/arrow_down.png) no-repeat;
  background-color: #fff;
  background-size: 19px;
  background-position: 100% center;
  -webkit-appearance: none;
}
.page-item.active .page-link {
  background-color: #ea7904 !important;
  color: #fff !important;
  border: 0;
}
button.btn.btn-warning {
  background-color: #ea7904 !important;
  border-radius: 0px !important;
  border: 0 !important;
}
button.btn.btn-warning,
button.btn.btn-dark {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  height: 30px;
  padding: 0 30px;
  -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid #000;
}
button.btn.btn-dark:hover {
  background-color: #fff;
  color: #000 !important;
  border: 1px solid #000;
}
button.btn.btn-dark:focus,
button.btn.btn-warning:focus {
    box-shadow: none;
}
button.btn.btn-warning:hover {
    background-color: #fff !important;
    color: #ea7904 !important;
    border: 1px solid #ea7904 !important;
}
.btn-same-width {
  width: 126px !important;
}
.btn-same-pay {
  width: 140px;
}
.btn-same-coutiuned {
  width: 170px;
}
.file_btn_width {
  width: 134px;
}
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(255, 134, 9, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50% !important;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 99;
    box-shadow: 3px 2px 13px rgba(0, 0, 0, 0.2);
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 15px;
    top: 10px;
    font-size: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgb(234, 121, 4);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50% !important;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #ea7904 !important;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}
.ticket_radio_btn {
      display: block;
    position: relative;
    padding-left: 25px;
    /* margin-bottom: 9px; */
    cursor: pointer;
        font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 7px;
}

/* Hide the browser's default radio button */
.ticket_radio_btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.ticket_radio_btn .checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.ticket_radio_btn input:checked ~ .checkmark {
  background-color: #ea7904;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.ticket_radio_btn .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.ticket_radio_btn input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.ticket_radio_btn .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
/* The container */
.payment_gateway_checkbox {
  display: block;
  position: relative;
  padding-left: 29px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.payment_gateway_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.payment_gateway_checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.payment_gateway_checkbox input:checked ~ .checkmark {
  background-color: #ea7904;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.payment_gateway_checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.payment_gateway_checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*h2 {
  position: relative;
}
h2::before {
  background: rgba(0, 0, 0, 0) url(../../assets/images/title.png) no-repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 14px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 290px;
}*/
/********** Header Start ***********/
.header_bottom {
  position: relative;
  z-index: 99;
}
.header_bottom:after {
  position: absolute;
  top: 100%;
  left: 0;
  background: url(../../assets/images/line-2.png) no-repeat scroll center top;
  content: "";
  height: 17px;
  width: 100%;
}

.hows_section img {
  width: 100% !important;
/*      border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;*/
    min-height: 450px;
    max-height: 450px;
    object-fit: cover;
}
.hows_section .col-md-4 {
  padding-right: 0;
}
.hows_section .col-md-8 {
  padding-left: 0;
  background-image: url(../../assets/images/hows_bg_img.png);
  background-size: cover;
  background-position: center;
  box-shadow: 7px 7px 26px rgba(0, 0, 0, 0.5);
  /*border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;*/
      margin-left: -15px;
    margin-top: 18px;
    max-height: 412px;
    min-height: 412px;
}
.hows_section .hows_sec_img {
  position: relative;
  box-shadow: 7px 7px 26px rgba(0, 0, 0, 0.6);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  /*margin-bottom: 25px;*/
}
/*.hows_section .hows_sec_img:before {
  content: '';
  position: absolute;
  right: -45px;
  bottom: -35px;
  border: 2px solid #ea7904;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 0px 0px 30px 0px;
}*/
.hows_section .heading {
  padding: 42px 50px;
}
.hows_section .heading h2 {
  color: #fff;
  position: relative;
}
.hows_section .heading h2::before {
  left: 143px;
  top: 41px;
}
.hows_section .heading p {
  color: #fff;
  margin-top: 12px;
}
.hows_section .hows_sect {
      margin-top: 30px;
    margin-bottom: 24px;
    position: relative;
    z-index: 99;
}
/*.mutliple-shows
 {
  transform: skew(0deg, -5deg) translateY(-17px);
}*/
/*.mutliple-shows .multiple_booster_sites {
  transform: skew(0deg, 5deg);
}*/
/*.recent_events {
  transform: skew(0deg, -5deg) translateY(90px);
}
.recent_events .year_bg {
  transform: skew(0deg, 5deg);
}*/
.top_header {
  background-color: #5f5e5e;
}
.top_header .top_header_width {
  width: 100% !important;
    max-width: 85% !important;
    margin: auto;
}
.top_header .left-icons {
  width: 100%;
  padding: 12px 0;
}
.top_header .left-icons i {
  color: #fff;
  margin-right: 12px;
}
.nav_area {
  width: 100% !important;
    max-width: 94% !important;
    margin: auto;
}
.nav_area ul {
  width: 100%;
  justify-content: flex-end;
}
.nav_area ul li a {
  color: #000 !important;
  font-size: 14px;
  font-family: "Poppins";
  text-transform: uppercase;
}
.nav_area ul li a:hover {
  color: #ea7904 !important;
}
.nav_area ul li.active a {
  color: #ea7904 !important;
  font-weight: 600;
}
.nav_area nav {
  padding: 22px 0px;
}
.nav_area img {
  width: 70px;
}
.nav_area .login_sign_link .login_link {
  padding-right: 0;
}
.nav_area .login_sign_link .sign_link {
  padding-left: 0;
}
.banner-heading h2 {
  color: #ea7904;
  text-align: left;
  text-transform: uppercase;
}
.banner-heading .border-bottom {
  border-bottom: 2px solid #c62027;
  width: 80%;
  margin: auto;
}
.hows_div_content .border-bottom {
  margin: 0;
}
.ticket-banner {
    background-image: url(../../assets/images/yearbook1.jpg) !important;
    width: 100% !important;
    /* height: 564px !important; */
    /* background-size: 100% auto !important; */
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    background-position: center;
    height: 700px;
    background-size: cover;
    }
   /* .ticket-banner img {
      width: 100%;
    }*/
.bg-diamond {
  position: relative;
  background-image: url('../../assets/images/diamond-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/*.bg-diamond:after {
  position: absolute;
  top: -15px !important;
  left: 0;
  background: url(../../assets/images/white-line-2.png) no-repeat scroll center top;
  content: "";
  height: 17px;
  width: 100%;
}*/
.banner-heading p {
  width: 100%;
  text-align: left;
}
.border-bottom {
      border-bottom: 3px solid #000 !important;
    width: 52px !important;
    margin: auto;
    border-radius: 50px;
} 
.mutliple-shows .owl-carousel .owl-stage-outer {
  height: 311px !important;
}
.mutliple-shows .recent_border {
  width: 90%;
  margin: auto;
}
.mutliple-shows .recent_border img {
    box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.5);
}
.mutliple-shows {
  /*background-image: url('../../assets/images/album2.png');
  width: 100%;
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
  background-color: #f5f5f5;
  position: relative;
  z-index: 99;
}
/*.mutliple-shows:before {
  position: absolute;
  top: -15px !important;
  left: 0;
  background: url(../../assets/images/multiple_booster_line.png) no-repeat scroll center top;
  content: "";
  height: 17px;
  width: 100%;
}*/
.mutliple-shows h2 {
  color: #ea7904;
}
.multiple_events_shows {
  width: 100% !important;
  max-width: 85% !important;
  margin: auto;
}
.mutliple-shows .owl-dots {
  display: none;
}
.multiple_events_shows .circle_img img {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin-bottom: 15px;
}
.multiple_events_shows h4 {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}
.multiple_events_shows p {
  color: #fff;
  font-size: 12px;
}
.multiple_events_shows .events_profile {
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.multiple_events_shows .events_profile .circle_img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}
.multiple_events_shows .events_profile .circle_img h5 {
  display: none;
  color: #fff;
  position: absolute;
  top: 104px;
  left: 0;
  right: 0;
  margin: auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
}
.hows_sect .col-md-8.why_us_join {
  background-image: url(../../assets/images/why_join_img.png);
  background-size: cover;
  background-position: center;
}
.multiple_events_shows .events_profile:hover .circle_img {
  background-color: #ff8c29;
  opacity: 0.8;
}
.multiple_events_shows .events_profile:hover .circle_img h5 {
  display: block;
}
.multiple_events_shows .events_profile:hover .circle_img img {
  opacity: 0.2;
}
.multiple_events_shows .events_profile:hover {
  background-color: #fff;
  border-radius: 10px;
}
.multiple_events_shows .events_profile:hover h4,
.multiple_events_shows .events_profile:hover p {
  color: #c62027;
}
.recent-blog-post {
  width: 100% !important;
  max-width: 100% !important;
  margin: auto;
}
.recent-blog-img .owl-dots {
  display: none;
}
.recent-blog-img {
  position: relative;
  background-image: url('../../assets/images/year_bg.png');
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*.recent-blog-img:after {
  background: url(../../assets/images/yearbooks-line.png) no-repeat scroll center top;
   position: absolute;
  top: -15px !important;
  left: 0;
  content: "";
  height: 17px;
  width: 100%;
}*/
.recent-blog-img .recent_bg {
  border-radius: 8px;
  background-color: #fff;
}
.recent-blog-img .recent_border .recent_bg {
   padding: 10px;
}
.recent-blog-img .recent_border .recent_bg img {
  border-radius: 6px;
  max-height: 280px;
  min-height: 280px;
  object-fit: cover;
  width: 100%;
}
.recent-blog-img .recent_border .recent_date span {
  display: inline-block;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  color: #fff;
  font-size: 13px;
  background-color: #ea7904;
  text-align: center;
  vertical-align: middle;
  padding-top: 1px;
}
.recent-blog-img .recent_border .recent_date {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  align-self: center;
  border: 2px solid #ea7904;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  text-align: center;
  /* font-size: 13px; */
  /* display: block; */
  padding: 9px 9px;
  object-fit: cover;
}
.recent-blog-img .recent_border .recent_date i {
  vertical-align: middle;
}
.recent-blog-img .recent_border .recent_detail .border-right {
  border-right: 2px solid #c62027 !important;
  height: 60px;
  margin: auto 35px auto 35px;
  border-radius: 10px;
}
.recent-blog-img .recent_border .recent_info {
  line-height: 1.3;
  margin-left: 20px;
  font-size: 15px;
}
.recent-blog-img .recent_border .recent_info h5 {
   font-weight: bold;
   color: #000;
   font-size: 18px;
}
.recent-blog-img .recent_border .recent_info p {
  color: #545454;
  font-size: 14px;
  line-height: 1.4;
  margin-top: 7px;
}
.recent-blog-img .recent_border .recent_info p span {
  font-size: 13px;
  color: #ea7904;
  font-weight: bold;
}
.recent-blog-post .owl-nav button {
  display: none;
}
.recent-blog-post .owl-dots .owl-dot.active {
  background-color: #000;
}
.testinomial_bg {
  background-image: url(../../assets/images/diamond-img.jpg);
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
  position: relative;
  padding: 120px 0;
}
.testinomial_bg .owl-dots {
  display: none;
}
/*.testinomial_bg .owl-carousel .owl-stage-outer {
  height: 513px !important;
}*/
.testinomial_bg .testmonial_slider .border {
  box-shadow: 3px 2px 13px rgba(0, 0, 0, 0.2);
  width: 97%;
  margin: auto;
}
/*.testinomial_bg:after {
   background: url(../../assets/images/testimonail-img.png) no-repeat scroll center top;
   position: absolute;
  left: 0;
  content: "";
  height: 16px;
  width: 100%;
  top: 0;
}*/
.owl-one .recent_bg img {
  max-height: 300px;
  min-height: 300px;
  object-fit: cover;
  border-radius: 6px;
}
.about_us {
  background-image: url('../../assets/images/about_us_banner.png');
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0;
}
.about_us h1,
.contact_us h1,
.login_page h1,
.terms_page h1,
.faq_page h1,
.blog_page h1 {
  color: #ea7904;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.about_us_contain {
  width: 100% !important;
  max-width: 85% !important;
  margin: auto;
  padding: 50px 0;
}
.about_us_contain h2 {
  color: #ea7904;
  font-weight: 600;
  font-size: 25px;
}
.about_para {
  color: #545454;
  font-size: 15px;
  line-height: 1.4;
}
.contact_us {
  background-image: url('../../assets/images/contact_us_banner.png');
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0;
}
.contact_us_contain {
  width: 100% !important;
  max-width: 85% !important;
  margin: auto;
  padding: 50px 0;
}
.contact_us_contain h2 {
  margin-top: 26px;
}
.contact_us_contain form label {
  color: #000;
}
.contact_us_contain form .choose_file_button {
  position: relative;
}
.contact_us_contain form .choose_file_button a {
  position: relative;
  padding: 8px 9px;
  background-color: #c62027;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}
.contact_us_contain form .choose_file_button input {
  font-size: 22px;
  position: absolute;
  left: 0;
  top: -8px;
  opacity: 0;
  width: 111px;
  cursor: pointer;
}
.contact_us_contain form .send_btn a {
  padding: 12px 15px;
  background-color: #c62027; 
  border-radius: 8px;
  color: #fff;
}
.contact_us_contain form .send_btn a:hover {
  border: 1px solid #c62027;
  background-color: #fff; 
  color: #c62027;
}
.contact_us_contain form select {
 background: transparent url(../../assets/images/arrow_down.png) no-repeat;
  background-color: #fff;
  background-size: 19px;
  background-position: 100% center;
  -webkit-appearance: none;
}
#upload_button input[type=file] {
    opacity: 0;
    position: absolute;
    padding: 4px;
    width: 67%;
}
.login_page {
  background-image: url('../../assets/images/login_banner.png');
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0;
}
.login_page_area .login_sign_page {
  background-color: #e0e0e0;
  border-radius: 8px;
  /*width: 60%;*/
  margin: auto;
  padding: 25px 23px;
}
.login_sign_page .nav-link.active {
  background-color: #ea7904 !important;
  color: #fff !important;
  border: 0 !important;
 /* border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;*/
}
.login_sign_page .nav-link {
  background-color: #efeeee;
  color: #000;
  border: 0;
/*  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;*/
}
.login_sign_page .login_details label {
  color: #000;
  font-size: 14px;
  font-weight: bold;
}
.login_sign_page .nav-tabs {
  border-bottom: 3px solid #ea7904 !important;
}
.login_sign_page  .login_achor_btn {
  text-align: center;
  border: 1px solid #c62027;
  border-radius: 8px;
}
.login-bg,
.sign-area {
    background-color: #fdfdfd;
    padding: 0 12px 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.login-brn a:hover {
  color: #fff !important;
  border-radius: 6px;
  background-color: #c62027;
}
.login_sign_page .login_achor_btn a {
  color: #c62027;
  display: block;
  padding: 10px;
}
.login_sign_page .login_social .login_fb {
  background-color: #4267b2;
  padding: 7px;
  text-align: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.login_sign_page .login_social .login_fb a,
.login_sign_page .login_social .gp_btn a {
  color: #fff;
  display: block;
}
.login_sign_page .login_social .gp_btn {
  background-color: #de4b44;
  padding: 7px;
  text-align: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.terms_page {
  background-image: url('../../assets/images/terms_privacy.png');
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0;
}

.faq_page {
  background-image: url('../../assets/images/faq_banner.png');
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0;
}
.faq_heading h5 {
  color: #ea7904;
  font-size: 16px;
  font-weight: bold;
}
.faq_pages .card-header {
  padding: 0;
}
.faq_pages .card-header button {
  width: 100%;
  text-align: left;
  /* display: block; */
  padding: 17px 23px;
  color: #000;
  white-space: normal !important;
  text-decoration: none;
  position: relative;
  font-size: 13px;
}
.faq_pages .card-header button:after {
  content: '➕'; /* fa-chevron-down */
  position: absolute;
  right: 6px;
  color: #ea7904;
  top: 13px;
  font-size: 18px;
}
.faq_pages .card-header button[aria-expanded="true"]:after {
  content: '➖'; /* fa-chevron-up */
  color: #ea7904;
}
.faq_pages .card-header button:hover {
  text-decoration: none;
}

.blog_page {
  background-image: url('../../assets/images/blog_banner.png');
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0;
}
.blog_pages .blog_dropdown label {
  color: #000;
  font-weight: 600;
  font-size: 14px;
}
.blog_pages .blog_pagi .page-item.active a {
  color: #fff;
  background-color: #ea7904;
  border: 1px solid #ea7904;
  /*border: 0;*/
} 
.blog_pages .blog_pagi .page-item a {
  color: #fff;
  border: 1px solid #000;
  color: #000;
}
.blog_pages .blog_pagi .page-item a:focus {
  box-shadow: none;
}
.blog_pages .blog_dropdown select {
  width: 60%;
  background: transparent url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat;
  background-color: #fff;
  background-size: 13px;
  background-position: 98% center;
  -webkit-appearance: none;
}
.blog_pages .blog_product {
  margin-bottom: 36px;
  margin-right: 6px;
  margin-left: 12px;
  background-color: #f4f4f4;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.blog_pages .blog_product img {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  max-height: 300px;
  min-height: 300px;
  width: 100%;
  object-fit: cover;
}
.blog_pages .blog_date {
  color: #fff;
  font-weight: 500;
  padding: 3px 10px;
  background-color: #000;
  /*border-radius: 8px;*/
}
.blog_pages .blog_date_heading {
  color: #000;
  font-size: 15px;
  font-weight: bold;
  align-self: center;
}
.blog_pages .blog_pd {
  padding: 20px 15px 15px;
}
.blog_pages p {
  color: #000;
  font-size: 15px;
  margin: 30px 0;
  text-align: justify;
  line-height: 1.3;
/*  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;*/
}
.blog_pages a.read_more {
  background-color: #c62027;
  color: #fff;
  border-radius: 8px;
  padding: 8px 15px;
}
.blog_pages a.read_more:hover {
  color: #c62027;
  border: 1px solid #c62027;
  background-color: #f4f4f4;
}
.blog_pages .blog_para .moretext {
  display: none;
}
.blog_pages .blog_cate label {
  color: #000;
  font-weight: 600;
  font-size: 13px;
}
.blog_pages .blog_cate span {
  color: #545454;
  font-size: 13px;
}
.blog_pages .blog_product .single_blog img {
  max-height: 400px;
  min-height: 400px;
  object-fit: cover;
}
.event_tickets_details .next_events_bg {
  background-color: #cecece;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 0px;
}
.event_tickets_details .event_img {
  margin-right: 14px;
}
.event_tickets_details .event_img img {
  /*height: 297px;*/
  object-fit: cover;
  border-radius: 6px;
  height: 100px;
  width: 100px;
}
.event_tickets_details .bg_grey {
  /*background-color: #cecece;*/
  border-radius: 8px;
}
.event_tickets_details .events_details ul {
  list-style-type: none;
}
.event_tickets_details .events_details ul li a {
  color: #000;
}
.event_tickets_details .events_details ul li i {
  color: #000;
}
.event_tickets_details .events_next_detail img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-top-left-radius: 8px;
  /*border-bottom-left-radius: 8px;*/
}
.event_tickets_details .event_h5 {
  color: #ea7904;
  font-size: 20px;
  align-self: center;
  font-weight: bold;
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 62%;
}
.event_tickets_details .event_border {
  border: 1px solid #cecece;
  border-radius: 8px;
}
.event_tickets_details .event_border .events_list_st {
  padding: 12px;
}
.event_tickets_details .event_border .events_list_st ul {
  list-style-type: none;
}
.event_tickets_details .event_border .events_list_st ul li {
  font-size: 13px;
  line-height: 1.6;
}
.event_tickets_details .event_border .events_list_st ul li a {
  color: #000;
  font-size: 13px;
}
.event_tickets_details .event_border .events_list_st ul li i {
  color: #000; 
}
.event_tickets_details .event_border .events_list_st .event_enter a {
  background-color: #ea7904;
  color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
}
.event_tickets_details .event_border .events_list_st .event_enter a:hover {
  color: #ea7904;
  background-color: #fff;
  border: 1px solid #ea7904;
}
.event_tickets_details .ticket_title label {
  font-weight: normal;
  font-size: 14px;
  color: #000;
}
.event_tickets_details .ticketless_attend {
  background-color: #eaeaea;
}
.event_tickets_details .ticketless_attend h4 {
  color: #000;
  font-size: 22px;
}
.event_tickets_details .ticketless_attend a {
  color: #c62027;
}
.event_tickets_details .count_person label {
  color: #000;
  font-weight: normal;
}
.event_tickets_details .count_person .remove_icon {
  color: #000;
  background-color: transparent;
  padding: 0;
}
.event_tickets_details .count_person .remove_icon i {
  font-size: 22px;
}
.event_tickets_details .count_person a {
  background-color: #c62027;
  color: #fff;
  padding: 8px 18px;
  border-radius: 8px;
}
.event_tickets_details .count_person .addtocart:hover {
  background-color: #fff;
}
.event_tickets_details .ticket-submit a {
  background-color: #c62027;
  color: #fff;
  padding: 8px 18px;
  border-radius: 8px;
}
.event_tickets_details .ticket-submit a:hover {
  color: #c62027;
  background-color: #fff;
  border: 1px solid #c62027;
}
.event_tickets_details .count_person .table-hover tbody tr:hover {
  background: rgba(198, 32, 39, 0.7);
  color: #fff;
}
.ticket_popup {
  text-align: left; 
}
.ticket_popup .thanks-page {
  padding: 12px;
  border: 1px solid #cecece;
}
h2.ticket_heading {
  text-align: left;
  color: #c62027;
}
.ticket_popup .oder-heading {
  align-self: center;
}
.ticket_paypal_border {
  padding: 15px;
  border: 1px solid #cecece;
}
.ticket_paypal_border img {
    width: 214px;
    margin-bottom: 15px;
}
.ticket_paypal_border .border-bottom {
  border-bottom: 1px solid #ccc !important;
  margin: 0 !important;
  width: 100% !important;
}
.ticket_popup .table_purchase table tr th {
  font-size: 14px;
  vertical-align: middle;
  white-space: nowrap;
  border-top: 0;
  border-bottom: 0;
}
.ticket_popup .table_purchase table tr td {
  font-size: 13px;
  align-items: flex-end;
  border-top: 0;
}
.ticket_paypal_border .grand-total {
  background-color: rgba(0,0,0,.075);
}
.card-body_seller {
  padding: 0 0;
}
ul.comp_saller li {
  list-style: none;
  padding: 10px 9px;
  border: 1px solid #e4e1e1;
}
.ticket_popup .card-header a.photo {
  color: #000;
  background-color: transparent;
  border: transparent;
  padding: 0;
}
.ticket_popup .card-header a {
  color: #000;
  background-color: transparent;
  border: transparent;
}
.ticket_paypal_border .enter-discount input::placeholder {
  font-size: 12px;
}
.billing-inform .align-self-end a {
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px 30px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  height: 30px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #000;
}
.billing-inform label {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.congo_page h4 {
  color: #000;
  font-weight: 600;
}
.congo_page p {
  line-height: 1.3;
  color: #000;
}
.testmonial_slider .border {
  border-radius: 8px;
  position: relative;
  background-color: #fff;
}
.testmonial_slider .testi_img img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ea7904;
}
.testmonial_slider .testi_img {
  text-align: -webkit-center;
  margin-top: -36px;
}
.testmonial_slider .inner_testi_para {
  color: #545454;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  font-style: italic;
}
.testmonial_slider .inner_testi_para i {
  font-size: 15px;
  color: #ea7904;
}
.testmonial_slider .rating_stars i:hover {
  color: #c62027;
}
.self_terms h4 {
  font-size: 14px;
  font-weight: bold;
}
.compare_images .my_images h4 {
  font-size: 22px;
  color: #000;
}
.compare_images .my_images h6 {
  font-size: 14px;
  color: #000;
}
.compare_images .browse_btn .btn-danger {
  background-color: #ea7904;
  border: 0;
}
.compare_images .heart_icon,
.compare_images .trolly_icon {
  position: relative;
}
.compare_images .heart_icon i {
  color: #ea1904;
  font-size: 25px;
} 
.compare_images .trolly_icon i {
    color: #18b505;
    font-size: 25px;
}
.compare_images .heart_icon .heart_bagde {
  position: absolute;
  top: -4px;
  border-radius: 50%;
  right: -7px;
}
.compare_images .trolly_icon .opencart {
  position: absolute;
  top: -5px;
  border-radius: 50%;
  right: -7px;
}
.compare_images .modal-dialog.model_resize {
  max-width: 753px;
}
.compare_images .model_resize .close {
  position: absolute;
  right: 0;
  top: -36px;
  color: #fff;
  opacity: 1;
  font-size: 33px;
}
.compare_images .model_resize .add_files_browse {
  position: relative;
}
.compare_images .model_resize .add_files_browse input {
  position: absolute;
}
.img_flex {
  width: 149px;
  background-color: #000;
  border-top-left-radius: 6px; 
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px; 
  border-bottom-right-radius: 6px; 
}
.img_flex .border-img img {
  border-top-left-radius: 6px; 
  border-top-right-radius: 6px; 
}
.img_flex h6 {
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.img_flex i.fa-shopping-cart {
  color: #fff;
  font-size: 18px;
}
.img_flex i.fa-heart {
  color: #fff;
  font-size: 18px;
}
.multiple_images_added .load-more {
  background-color: #ea7904;
  color: #fff;
  border-radius: 10px;
  padding: 9px 19px;
  margin-bottom: 12px;
}
.compare_images .search_btn a {
  background-color: #ea7904;
  padding: 9px 16px;
  border-radius: 10px;
  color: #fff;
}
.compare_images .search_btn {
  align-self: center;
}
.compare_images .nav-pills .nav-link.active {
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  color: #fff;
  font-size: 14px;
  height: 30px;
  width: 118px;
  text-align: center;
  line-height: 2;
}
.compare_images .nav-pills .nav-link {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  font-size: 14px;
  border-radius: 8px;
  height: 34px;
  width: 118px;
  text-align: center;
  line-height: 2;
}
.compare_images .mycart_table .close_icon {
  align-self: center;
  font-size: 20px;
}
.compare_images .mycart_table .close_icon i {
  color: #c62027;
}
.compare_images .mycart_table a.crop,
.compare_images .mycart_table a.danger {
  background: #f78b05;
  color: #fff;
  padding: 6px 15px;
  border-radius: 10px;
}
.compare_images .mycart_table a.danger {
  background-color: #c62027;
}
.cart_btns a {
  background: #000;
  color: #fff;
  padding: 9px 16px;
  border-radius: 10px;
}
.start_upload {
  background-color: #000;
  border-color: #000;
}
footer {
  /*background-image: url('../../assets/images/footer_banner.png');*/
  width: 100%;
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  background-color: #1f1e1e;
  position: relative;
}
footer .fb_icon a,
footer .tw_icon a,
footer .gplus_icon a,
footer .instant_icon a,
footer .inbox_icon a {
  background-color: #4267b2;
    color: #fff !important;
    padding: 6px 11px; 
}
footer .tw_icon a {
  background-color: #1da1f2;
}
footer .gplus_icon a {
  background-color: #de4b44;
}
footer .instant_icon a {
  background-color: #3f729b;
}
footer .inbox_icon a {
  background-color: #0078d7;
}
.footer_inner:after {
  background: url(../../assets/images/footer_line.png) no-repeat scroll center top;
  position: absolute;
  left: 0;
  content: "";
  height: 17px;
  width: 100%;
  top: -16px;
}
.footer_list_links ul {
  list-style-type: none;
}
.footer_list_links ul li a {
  color: #fff !important;
  font-size: 14px;
  /*font-weight: 600;*/
  text-transform: uppercase;
}
.footer_list_links ul li a:hover {
  color: #ea7904;
  text-decoration: none;
}

.hows_image img {
  border-radius: 65px 8px 65px 34px;
  width: 530px;
  position: relative;
  box-shadow: 0px 13px 24px #b1b1b1;
}
.hows_div_content {
  position: relative;
  width: 600px;
  margin: auto;
  background-color: #eaeaea;
  box-shadow: 3px 3px 5px #e2e1e1;
  margin-top: -246px;
  margin-right: 33px;
  border-radius: 65px 8px 65px 34px;
}
/*.year_bg .owl-stage {
  width: inherit !important;
}
.year_bg .owl-height {
  height: inherit !important;
}
.year_bg .owl-item.active {
  width: inherit !important;
}*/
@media (max-width: 1920px) and (min-width: 1700px) {
  /*.ticket-banner {
    max-height: 650px;
    min-height: 650px;
  }*/
}
@media (max-width: 1920px) and (min-width: 1500px) {
  .hows_section .col-md-8 {
      max-height: 284px;
      min-height: 284px;
  }
  .hows_section img {
    width: 100% !important;
    max-height: 324px;
    min-height: 324px;
    object-fit: cover;
  }
}
@media (max-width: 2560px) and (min-width: 1401px) {
  .hows_image img {
    width: 40%;
  } 
  .hows_div_content {
    width: 40%;
  }
  .header_bottom:after {
    top: 99%;
    height: 15px;
    background: url(../../assets/images/line-2.png) scroll center;
  }
  .mutliple-shows:before {
    top: 99%;
    height: 15px;
    background: url(../../assets/images/multiple_booster_line.png) scroll center;
  }
  .recent-blog-img:after {
    background: url(../../assets/images/yearbooks-line.png) scroll center top;
  }
  .bg-diamond:after {
    background: url(../../assets/images/white-line-2.png) scroll center top;
  }
  .testinomial_bg:after {
    background: url(../../assets/images/testimonail-img.png) scroll center top;
  }
  .footer_inner:after {
    top: -13px !important;
    background: url(../../assets/images/footer_line.png) scroll center top !important;
  }
}
@media (max-width: 991px) {
  .google_map>div {
    width: 100% !important;
  }
  .send_btn {
    margin-bottom: 67px;
  }
  .login_sign_link {
    margin-left: 0 !important;
  }
  .block_date {
    display: block !important;
  }
  .block_date .blog_date {
    width: 70px;
    margin-bottom: 5px;
  }
  .mobile-banner1 {
    text-align: left !important;
    width: 90%;
    margin: auto;
  }
  .mobile-banner {
    text-align: right !important;
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 767px) { 
  .blog_dropdown select {
    width: 100% !important;
  }
  .bg_grey {
    display: block !important;
  }
  .event_tickets_details .event_img img {
    object-fit: cover;
    border-radius: 6px;
    /* max-height: 120px; */
    width: 100%;
    max-height: 250px;
    min-height: 250px;
  }
  .block_date {
    display: block !important;
  }
  .block_date .blog_date {
    width: 70px;
    margin-bottom: 5px;
  }
  .hows_div_content {
    width: 100%;
    margin-left: 0 !important;
  }
  .hows_image img {
    width: 100%;
  }
  .hows_section img {
    width: 100% !important;
    /* min-height: 450px; */
    /* max-height: 450px; */
    height: auto;
    object-fit: cover;
}
.hows_section .col-md-4 {
    /* padding-right: 0; */
    padding: inherit !important;
}
.hows_section .col-md-8 {
    padding-left: 0;
    background-image: url(../../assets/images/hows_bg_img.png);
    background-size: cover;
    background-position: center;
    box-shadow: 7px 7px 26px rgba(0, 0, 0, 0.5);
    margin-left: 0;
    margin-top: 0;
     max-height: auto; 
     min-height: auto; 
    height: auto;
}
}
@media (max-width: 480px) {
  .google_map>div {
    width: 100% !important;
  }
  footer .footer_list_links ul {
    display: block !important;
  }
  .ticket-submit a {
    display: block;
    width: 100%;
  }
  .ticket-submit .cancel-btn,
  .ticket-submit .back-btn,
  .ticket-submit .pay-btn,
  .ticket-submit .cancel-btns,
  .ticket-submit .pay-apply-btn {
    margin-left: 0 !important;
    margin-top: 12px;
  }
  .congo_page_popup .d-flex,
  .payment_popup .d-flex {
    display: block !important;
  }
  .congo_page_popup .d-flex a,
  .payment_popup .d-flex a {
    margin-bottom: 12px;
  }
  .hows_div_content {
    margin-top: 26px;
  }
 /* .header_bottom:after {
    top: 99%;
  }*/
}
@media(max-width: 1900px) and (min-width: 1401px) {
  .nav_area {
    width: 100% !important;
      max-width: 94% !important;
      margin: auto;
  }
}


/* owl nav */
.owl-prev span, .owl-next span {
  color: #FFF;
}

.owl-prev span:hover, 
.owl-next span:hover {
  color: #8199A3;
}

.owl-prev, .owl-next {
  position: absolute;
  top: 0;
  height: 100%;
}

.owl-prev {
  left: 7px;
}

.owl-next {
  right: 7px;
}

/* removing blue outline from buttons */
button:focus, button:active {
   outline: none;
}
.self_terms ul {
  margin-top: 12px;
}
.self_terms ul li {
  font-size: 12px !important;
  line-height: 1.8 !important;
}

/*loader css*/
.loader {
    background-color: rgba(255, 255, 255, 0.7) !important;
    bottom: 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}
.loader img {
    z-index: 999999;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}



/*new css arsh */


.form-control{
    height: 30px !important;
    font-size: 12px;
}

label{
    font-size: 14px;
}

.txt-area{
    height: 150px !important;
}
p{
    font-size: 12px !important;
}

.faq-div{
  margin-left: 0;
}

.heading__{
color: #ea7904; 
text-align: center !important;
}

.user_heading{
  color: #ea7904; 
  text-transform: uppercase;
}

.border-line{
  border-bottom: 3px solid #000 !important;
}

.home-why{
  margin-top: 16px;
  margin-bottom: 27px;
}

.home-why-join{
  position: relative; z-index: 99;    
margin-right: -31px;
}
.terms-title{
    color: black;
}
.forget-bdr{
  border: 0 !important;
}