{% extends 'Front/main.html' %}
{% load static %}
{% block title %} Payment Unsuccessfull{% endblock %}
{% block content %}
<style type="text/css">
	.payment_popup {
    border: 1px solid;
    width: 56%;
    margin: auto;
}
</style>
		<section style="background-color: #f7f7f7" class="py-5">
		<div class="nav_area">
			<div class="mycart">
				<!-- congratulation content-->
				<div class="payment_popup modal-common-div text-center my-5">
					<div class="text-right mr-3 mt-2">
						<i class="fas fa-times"></i>
					</div>
					<div class="congo_page py-3">
						<h4 class="mb-3">Payment Unsuccessful <img src="{% static 'assets/images/close.jpg' %}" alt="close" class="img-fluid ml-4" style="width: 50px;"></h4>

						<p class="mb-2">
							Please check with your credit card issuing bank or use another credit card.
						</p>
					</div>
					<div class="d-flex justify-content-center pt-5 pb-5">
						<!-- <a href="#" class="mr-2">Back To My Order</a> -->
						<!-- <a href="#" class="mr-2" data-dismiss="modal">Exit</a> -->
						<button type="button" class="btn btn-warning mr-2 my_order" style="width: 172px;">Back To My Order</button>
						<button type="button" class="btn btn-warning" data-dismiss="modal" style="width: 172px;">Exit</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Navbar End -->
	<!-- Scroll Page-->
	<div class="scroll_page">
		<a href="javascript:" id="return-to-top"><i class="fas fa-sort-up"></i></a>
	</div>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">
	$(document).ready(function() {
		let error_mssg = localStorage.getItem('error_msg');
		$('.payment_error').append('<p>'+  error_mssg +'</p>');
		 localStorage.removeItem('error_msg');
	});

</script>

{% endblock %}
