{% extends 'Front/main.html' %}
{% load static %}
{% block content %}

<div class="loader" style="display: none;">
   <img class="" src="{% static 'assets/images/loader.gif' %}" alt="loader.gif" />
</div>

	<section style="background-color: #f7f7f7;" class="pb-3">
	<div class="container">
		<div class="my-frofile-form">
			<h1 class="my-account-heading">Create Stripe</h1>
			{% if messages %}
			{% for message in messages %}
			<div class="alert text-center {% if message.tags == 'error' %}alert-danger{% else %} alert-{{ message.tags }}{% endif %}" role="alert">{{ message|safe }}</div>
			{% endfor %}
			{% endif %}
			<div class="alert alert-danger  text-center" role="alert" style="display: none;">
			</div>
				<form id="stripe_form">
				<div class="row dropd">
					<div class="col-12 col-sm-6 col-md-6">
						<div class="form-group">
							<label>Country *</label>
							<select name="country" class="form-control countries order-alpha" id="countryId">
							</select>
							
						</select>
						<input type="hidden" name="for_country" class="hidden_country">
						</div>
						<div class="form-group">
							<label>Address *</label>
							
							<input type="text" class="form-control" placeholder="Addres Line-1" name="address-1" maxlength="100">
							
						</div>
						<div class="form-group">
							<label>City *</label>
							<select name="city" class="form-control cities order-alpha" id="cityId">
							</select>
						</div>
						<!-- <div class="form-group">
							<label>Identity document Back Image *</label>	
							<input type="file" class="form-control back_img" name = "img">
	
						</div> -->
						<div class="form-group">
							<label>Phone Number *</label>
							<input type="text" class="form-control" placeholder="1234567890" name="emp_number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="15">
						</div>
						<div class="form-group">
							<label>DOB *</label>
							<input type="text" readonly class="form-control" name="dob" id="dob">
						</div>
						<div class="form-group">
							<label>Account Number *</label>
							<input type="text" class="form-control account" placeholder="000123456789" name="account_number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="20">
						</div>
						<div class="form-group">
							<label>Last Four Account Digits*</label>
							<input type="text" class="form-control" placeholder="6789" maxlength="4" name="last_four" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="4">
						</div>
						<div class="form-group py-3 mr-4 d-flex justify-content-between">
								<div id="upload_button"  class=" align-self-center">
									<label>
										<input type="file"  ngf-select ng-model="new_files" accept="image/*" class = "back_img" id="back_doc" name = "img" value="">
										<button class="btn btn-warning" >Browse...</button>
										
									</label>
								
									<p class="upload-text">Upload Passport image *</p>
								</div>
								<div class="cb-logo"><img class="cb-log"  style="max-height:400px;
									max-width:400px;" src="{% static 'assets/images/com-logo.png' %}" id="back_img_preview" alt="Identity document Back Image"></div>
							</div>
						</div>
					<div class="col-12 col-sm-6 col-md-6">
						<div class="form-group">
							<label>State *</label>
							<select name="state" class=" form-control states order-alpha" id="stateId">
							</select>
						</div>
						<div class="form-group">

							<label>Address2</label>
							<input type="text" class="form-control" placeholder="Addres Line-2" name="address-2" maxlength="100">
						</div>
						<div class="form-group">
							<label>Zip*</label>
							<input type="text" class="form-control" placeholder="12345" name="zip" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="8" >
							
						</div>
						<!-- <div class="form-group">
							<label>Identity document Front Image *</label>
							<input type="file" class="form-control front_img" name = "front_image">
						</div> -->
						<div class="form-group">
							<label>Last 4 SSN Digit *</label>
							<input type="text"  class="form-control" placeholder="0000" name="ssn_number" maxlength="4" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
						</div>


						<div class="form-group">
							<label>Routing Number*</label>
						<input type="text" class="form-control" placeholder="110000000" name="routing_number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="15">
						</div>
						<div class="form-group">
							<label>Retype Account Number *</label>
							<input type="text" class="form-control re-account"  name="retype_account_number" placeholder="000123456789" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="20">
						</div>

						
						<div class="form-group py-3 mr-4 d-flex justify-content-between">
								
								<div id="upload_button" class=" align-self-center">
									<label>

										<input type="file" id="logo-img" name = "front_image" ngf-select ng-model="new_files" class="front_img" accept="image/*">
										
										<button class="btn btn-warning" >Browse...</button>
									</label>
									
									<p class="upload-text">upload drivers license image*</p>
								</div>
								
								<div class="cb-logo">
									
									<img style="max-height:400px;
									max-width:400px;" class="cb-logo" src="{% static 'assets/images/com-logo.png' %}" id="preview"  alt="Identity document Front Image">
									
								</div>
								<!-- </div> -->

							</div>
							
						</div>
				
			<!-- 	<div class="form-group"> -->
				<div class="text-left send_btn pt-3">
		
							<button class="d-btn stripe btn btn-warning" type="button" style="margin-bottom: 50px;">Submit</button>
							<button type="button" class="delete d-btn mr-4 btn btn-warning" style="margin-bottom: 50px;">Cancel</button>
						
					</div>
				</div>
				</div>
			</form>
		</div>
	</section>
	
	<div class="scroll_page">
		<a href="javascript:" id="return-to-top"><i class="fas fa-sort-up"></i></a>
	</div>
	{% endblock %}


	{% block extrascript %}
	<script src="https://js.stripe.com/v3/"></script>
	<script src="{% static 'assets/js/payment.js' %}"></script>

	<script>
	var urls = "{% url 'stripe_account' %}";
	var token =  '{{ csrf_token }}';
	
		{% if request.user.accountinfo.get_latest_address.billing_address %}
			$('input[name="address-1"]').val('{{request.user.accountinfo.get_latest_address.billing_address}}');
		{% endif %}

		{% if request.user.accountinfo.get_latest_address.address %}
			$('input[name="address-2"]').val('{{request.user.accountinfo.get_latest_address.address}}');
		{% endif %}

		{% if request.user.accountinfo.zipcode %}
			$('input[name="zip"]').val('{{request.user.accountinfo.zipcode}}');
		{% endif %}

		{% if request.user.accountinfo.phone %}
			$('input[name="emp_number"]').val('{{request.user.accountinfo.phone}}');
		{% endif %}






$('input,select').attr('required',false);



</script>
{% endblock %}

